apiVersion: v1
kind: ConfigMap
metadata:
  name: crd-bootstrap-breaking-updated
  namespace: crd-bootstrap-system
data:
  version: "2.0.0"
  crd.yaml: |
    apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    metadata:
      name: breakingtests.e2e.crd-bootstrap.io
    spec:
      group: e2e.crd-bootstrap.io
      names:
        kind: BreakingTest
        listKind: BreakingTestList
        plural: breakingtests
        singular: breakingtest
      scope: Namespaced
      versions:
        - name: v1alpha1
          schema:
            openAPIV3Schema:
              type: object
              properties:
                apiVersion:
                  type: string
                kind:
                  type: string
                metadata:
                  type: object
                spec:
                  type: object
                  properties:
                    name:
                      type: string
                    count:
                      type: string
          served: true
          storage: true
