name: test and lint

on:
  pull_request:
    paths-ignore:
      - 'CODE_OF_CONDUCT.md'
      - 'README.md'
      - 'Contributing.md'
  workflow_call:

  push:
    branches:
      - main

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  run-test-suite:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: '${{ github.workspace }}/go.mod'
      - uses: acifani/setup-tinygo@v2
        with:
          tinygo-version: '0.29.0'
      - name: Restore Go cache
        uses: actions/cache@v5
        with:
          path: /home/runner/work/_temp/_github_home/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Install Helm
        uses: azure/setup-helm@v4
      - name: Install chart unittest
        run: |
          helm env
          helm plugin install https://github.com/helm-unittest/helm-unittest --verify=false
      - name: Run lint
        run: make lint
      - name: Run helm test
        run: make helm-test
      - name: Install Kind
        uses: engineerd/setup-kind@v0.6.1
        with:
          version: v0.29.0
      - name: Run e2e tests
        run: |
          cd e2e && go test -v ./... -timeout 30m -count 1